/Determinant.class
/MatrixElement.class
/NormalAndTrace.class
/SearchA2DMatrix.class
/SpirallyTraversingAMatrix.class
/SumOfTwoMatrix.class
/RowWithMax1s.class
/Main.class
/Pagal.class
/Find_a_specific_pair_in_matrix.class
