/ArmstrongNumber.class
/Evil_Odious.class
/Factorial.class
/LargestNumber.class
/NumberEvenOdd.class
/PerfectNumber.class
/PowerOfNumber.class
/PrimeNumber.class
/RandomNumberGenerate.class
/ReverseNumber.class
/SumOfDigit.class
/SwapTwoNumber.class
